<%= form_with(model: [@job, note], class: "contents") do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if action_name == 'edit' %>
    <div class="my-5">
      <%= form.date_select :created_at, { }, default: Date.today, id: 'note-date', class: "max-w-max inline-block rounded-md border border-gray-200 outline-none pr-8 py-2" %>
    </div>
    <% end %>

  <div class="my-5">
    <%= form.text_area :content, rows: 3, id: 'note-content', placeholder: 'Enter note.. ', class: "block shadow dark:text-black rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5 md:w-1/3">
    <%= form.select :category, options_for_select(Note.categories.map{|k,v| [k.humanize.capitalize, k] }, @note.category), {}, id: 'category-select', class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-violet-800 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
