<div id="<%= dom_id note %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Job:</strong>
    <%= note.job_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= note.content %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this note", [@job, note], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this note", edit_job_note_path(@job, note), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
