<% if job.reminders.not_due.any? %>
  <%- job.reminders.not_due.each do |r| %>
    <div class="flex items-center justify-center gap-1 w-full mt-6 <%= action_name == 'index' ? 'py-2 text-sm' : 'py-4' %> px-4 bg-slate-200 text-sm text-slate-400 font-medium tracking-tight" id="<%= dom_id job %>_not_due">
      <svg fill="none" stroke="currentColor" stroke-width="1.5" class="w-5 h-5" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"/></svg>
      <%= r.way.humanize %>
      in
      <%= pluralize(((r.remind_at - Time.now).to_f/1.day).ceil, "day") %>
      <%= link_to job_reminder_path(job, r), method: :delete, id: "#{ dom_id job }_not_due_delete", data: { "turbo_method": :delete, "turbo_frame": "_top" } do %>
        <svg fill="none" stroke="currentColor" stroke-width="1.5" class="inline-block w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/></svg>
      <% end %>
    </div>
  <% end %>
<% end %>
