<%= form_with(model: job, class: "contents") do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="lg:grid lg:grid-cols-2 gap-4">
    <div>
      <div class="my-5">
        <%= form.label :entity, class: "font-bold" %>
        <%= form.text_field :entity, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
      </div>

      <div class="my-5 md:flex md:items-center">
        <div class="md:w-1/3"></div>
        <label class="md:w-2/3 block text-gray-500 font-bold">
          <%= form.check_box :is_agency, class: "rounded mr-2 leading-tight" %>
          <span class="text-sm">
            Agency
          </span>
        </label>
      </div>

      <div class="my-5">
        <%= form.label :title, class: "font-bold" %>
        <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
      </div>

      <div class="my-5">
        <%= form.label :url, class: "font-bold" %>
        <%= form.text_field :url, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
      </div>

      <div class="my-5">
        <%= form.label :mode, class: "font-bold" %>
        <%= form.select :mode, options_for_select(Job.modes.map{|k,v| [k.humanize.capitalize, k] }, @job.mode), {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
      </div>

      <div class="my-5">
        <%= form.label :arrangement, class: "font-bold" %>
        <%= form.select :arrangement, options_for_select(Job.arrangements.map{|k,v| [k.humanize.capitalize, k] }, @job.arrangement), {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
      </div>

      <div class="my-5">
        <%= form.label :description, class: "font-bold" %>
        <%= form.text_area :description, rows: 6, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
      </div>

      <div class="my-5">
        <%= form.label :salary, class: "font-bold" %>
        <%= form.text_field :salary, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
      </div>
    </div>

    <div>
      <div class="my-5">
        <%= form.label :primary_contact_name, class: "font-bold" %>
        <%= form.text_field :primary_contact_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
      </div>
      <div class="my-5">
        <%= form.label :primary_contact_email, class: "font-bold" %>
        <%= form.email_field :primary_contact_email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
      </div>
      <div class="my-5">
        <%= form.label :primary_contact_phone, class: "font-bold" %>
        <%= form.text_field :primary_contact_phone, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
      </div>
      <div class="my-5">
        <%= form.label :status, class: "font-bold" %>
        <%= form.select :status, options_for_select(Job.statuses.map{|k,v| [k.humanize.capitalize, k] }, @job.status), {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
      </div>
      <div class="my-5">
        <%= form.label :source, class: "font-bold" %>
        <%= form.collection_select :source_id, Source.order(:name), :id, :name, { include_blank: true }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-gray-900" %>
      </div>
    </div>
  </div>

  <div class="">
    <%= form.submit class: "button-lg bg-blue-600 text-white mb-3" %>
  </div>
<% end %>
