<div class="flex justify-between border-b mb-1 pb-1 font-bold text-sm uppercase items-center items-middle">
  <% if action_name == 'index' %>
    <div class='text-gray-800 w-60 text-lg tracking-tight truncate'>
      <% if job.entity.present? %>
        <%= job.entity %>
      <% elsif job.agency.present? %>
        <%= job.agency %>
      <% end %>
    </div>
  <% else %>
    <div class='text-gray-800 w-60 text-2xl tracking-tight truncate'>
      <% if job.entity.present? %>
        <%= job.entity %>
      <% elsif job.agency.present? %>
        <%= job.agency %>
      <% end %>
    </div>
  <% end %>

  <div class="flex">
    <% if job.days_since_status_change > 7 %>
      <div class="font-bold text-xl bg-red-700 text-white ml-1 py-1 px-2 rounded-lg align-middle">
        <%= job.days_since_status_change %>
      </div>
      <button data-action="visibility#toggleTargets">
    <% else %>
      <div class="font-bold text-xl bg-gray-100 ml-1 py-1 px-2 rounded-lg align-middle">
        <%= job.days_since_status_change %>
      </div>
    <% end %>
  </div>
</div>

<div class='flex flex-col mb-3'>

  <div class="text-lg w-60 md:text-lg font-medium tracking-tight text-ellipsis mb-4">
    <%= link_to job.title, job_path(job), class: "hover:text-gray-500 text-gray-800", data: { turbo_frame: '_top' } %>
  </div>

  <div class="flex justify-between items-center">
    <div class="flex" id='job-indicators'>
      <% if job.mode %>
        <div class="bg-gray-200 max-w-max px-2 py-1 text-sm">
          <%= job.mode.humanize.capitalize %>
        </div>
      <% end %>
      <% if job.arrangement %>
        <div class="bg-gray-700 text-white max-w-max px-2 py-1 text-sm">
          <%= job&.arrangement&.humanize&.capitalize %>
        </div>
      <% end %>
      <% if job.agency.present? %>
        <div class="bg-teal-700 text-white max-w-max px-2 py-1 text-sm">
          Agency
        </div>
      <% end %>

    </div>
    <% if action_name == 'index' %>
      <div class='flex items-center'>
        <%= link_to job_notes_path(job), id: "new_job_note_#{job.id}", class: '', data: { turbo_frame: "_top" } do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/></svg>
        <% end %>

        <button data-action="visibility#toggleTargets">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2.0" id="visibility_<%= job.id %>" class="w-7 h-7 text-gray-500" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"/></svg>
        </button>
      </div>
    <% end %>
  </div>
</div>
