<div class="flex justify-between h-12 border-b mb-6 pb-2 font-bold text-sm uppercase items-center">
  <% if action_name == 'index' %>
    <div class='text-gray-800 text-xl tracking-tight truncate w-60'>
      <%= job.entity %>
    </div>
  <% else %>
    <div class='text-gray-800 text-xl tracking-tight truncate'>
      <%= job.entity %>
    </div>
  <% end %>

  <% if days_since_status_change(job) > 7 %>
    <div class="font-bold text-xl bg-red-700 text-white ml-1 py-1 px-2 rounded-lg align-middle">
      <%= days_since_status_change(job) %>
    </div>
  <% else %>
    <div class="font-bold text-xl bg-gray-100 ml-1 py-1 px-2 rounded-lg align-middle">
      <%= days_since_status_change(job) %>
    </div>
  <% end %>
</div>

<div class='h-24 flex flex-col'>

  <div class="text-lg md:text-lg font-bold mb-5 tracking-tight text-ellipsis">
    <%= link_to job.title, job_path(job), class: "hover:text-gray-500 text-gray-800" %>
  </div>

  <% if job.applied_on.present? %>
    <div class="text-sm badge mb-5 max-w-max">
      Applied:
      <%= job.applied_on.strftime('%D') %>
    </div>
  <% end %>

</div>
