<div id="<%= dom_id job %> options" data-controller="visibility" class='card w-full max-h-max md:w-96' data-sortable-update-url="<%= job_path(job) %>">
  <div class="flex justify-between">

    <div class="w-8 bg-gray-500 text-white font-bold flex items-center justify-center">
      <div class="-rotate-90 uppercase">
        <%= job.status.humanize %>
      </div>
    </div>

    <div class="p-7 w-full">
      <%= render 'header', job: job %>

      <div data-visibility-target="hideable" class='hidden'>
        <%= render partial: 'details', locals: { job: job } %>
      </div>

    </div>
  </div>
</div>
