<div id="<%= dom_id job %> options" data-controller="visibility" class="card w-full max-h-max <%= action_name == 'show' ? 'md:w-1/2' : 'md:w-96' %>" data-sortable-update-url="<%= job_path(job) %>">
  <div class="flex justify-between">

    <div class="<%= action_name == 'show' ? 'w-12 text-2xl' : 'w-8' %> bg-gray-500 text-white font-bold flex items-center justify-center">
      <div class="-rotate-90 uppercase">
        <%= job.status.humanize %>
      </div>
    </div>

    <div class="px-7 py-4 w-full">
      <%= link_to job, data: { turbo_frame: '_top' } do %>
        <%= render 'header', job: job %>
      <% end %>

      <div data-visibility-target="hideable" class="<%= action_name == 'show' ? nil : 'hidden' %>">
        <%= render 'details',  job: job %>

      </div>

    </div>
  </div>
</div>
