<div id="clearance" class="md:flex mt-14 md:mt-20 md:justify-center">
  <div class='md:w-96'>
    <h1 class="text-2xl font-bold dark:text-white">
      <%= t(".title") %>
    </h1 >


    <p class="my-5 md:my-10">
      <%= link_to "Pricing", pricing_path %>
    </p>

    <%= form_for @user do |form| %>
      <%= render partial: '/users/form', object: form %>

      <div class="submit-field mb-5">
        <%= form.submit class: "col-1 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>

      <div class="other-links">
        <%= link_to t(".sign_in"), sign_in_path %>
      </div>
    <% end %>
  </div>
</div>
