<div class="dark:text-white">
  <div class="container mx-auto px-5">
    <div class="mt-20 mb-10 tracking-tight text-6xl font-light dark:text-white">
      <span class="border-r-2 pr-2 mr-5">
        WorkyPad
      </span>
      <span class="font-bold">
        Simplified
      </span>
       Job Search Tracking
    </div>

    <%= render 'public/take_action' %>

    <div class="italic text-lg font-light max-w-prose p-10 rounded-lg bg-gray-100 dark:text-gray-800 text-center mb-20 mx-auto">
      "Securing a job requires managing various information, and the chaotic spreadsheet used for tracking became tiresome. I sought a comprehensive board for all potential job opportunities with an easy way to monitor their status. WorkyPad proved to be my ideal solution. - Carson, creator of WorkyPad.com"

    </div>
  </div>


  <div class="bg-gray-100 dark:text-gray-900 py-28">
    <div class="container md:w-1/2 px-5 md:px-0 mx-auto">
      <div class="text-5xl md:w-1/2 font-medium mb-10 md:max-w-prose tracking-tight">
        Comprehensive status overview of your job prospects on a single, drag-and-drop dashboard.
      </div>
      <div class="text-xl max-w-prose font-medium text-gray-500 mb-28">
        Quickly view all your jobs on one board, <span class="font-bold text-gray-900">moving</span> around job cards in whatever priority you desire.
      </div>
      <%= image_tag "job-board.png", class: 'rounded-lg align-center shadow-xl', alt: "Dashboard showing all prospective jobs in blocks, that can be drag-and-dropped indicating priority" %>
    </div>
  </div>

  <div class="py-28">
    <div class="container md:w-1/2 px-5 md:px-0 mx-auto">
      <div class="text-5xl md:w-1/2 font-medium mb-10 md:max-w-prose tracking-tight">
        Convenient quick access to important job details on one card.
      </div>
      <div class="text-xl max-w-prose font-medium text-gray-500 mb-28">
        All the needed job details on one easily<span class="font-bold text-gray-900 dark:text-gray-100"> clickable card</span> so no digging around for information.
      </div>
      <%= image_tag "job.png", class: 'rounded-lg mt-6 md:ml-40 shadow-lg', alt: 'Detailed job post' %>
    </div>
  </div>

  <div class="bg-gray-100 dark:text-gray-900 py-28">
    <div class="container md:w-1/2 px-5 md:px-0 mx-auto">
      <div class="text-5xl md:w-1/2 font-medium mb-10 md:max-w-prose tracking-tight">
        Easily log employer interactions, covering applications, interviews, and calls.
      </div>
      <div class="text-xl max-w-prose font-medium text-gray-500 mb-28">
        Notate calls, emails, interviews and any other activity as it occurs on a job, so you can track and have a record of all interactions.
      </div>
      <%= image_tag "notes.png", class: 'rounded-lg mt-6 md:ml-40 md:w-1/2 shadow-lg', alt: 'Notes on a job with the category, such as "interview", "call" etc.' %>
    </div>
  </div>

  <div class="py-28">
    <div class="container md:w-1/2 px-5 md:px-0 mx-auto">
      <div class="text-5xl md:w-1/2 font-medium mb-10 md:max-w-prose tracking-tight">
        Say goodbye to complicated tracking spreadsheets.
      </div>
      <div class="text-xl max-w-prose font-medium text-gray-500 mb-20">
        Spreadsheets can track everything, but easily become too much, losing track of their purpose<span class="font-bold text-gray-900"> and aren't quickly retrievable</span> for when that important call comes in.
      </div>
      <div class="flex items-end justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="0.5" class="w-60 h-60" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M3.375 19.5h17.25m-17.25 0a1.125 1.125 0 0 1-1.125-1.125M3.375 19.5h7.5c.621 0 1.125-.504 1.125-1.125m-9.75 0V5.625m0 12.75v-1.5c0-.621.504-1.125 1.125-1.125m18.375 2.625V5.625m0 12.75c0 .621-.504 1.125-1.125 1.125m1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125m0 3.75h-7.5A1.125 1.125 0 0 1 12 18.375m9.75-12.75c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125m19.5 0v1.5c0 .621-.504 1.125-1.125 1.125M2.25 5.625v1.5c0 .621.504 1.125 1.125 1.125m0 0h17.25m-17.25 0h7.5c.621 0 1.125.504 1.125 1.125M3.375 8.25c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125m17.25-3.75h-7.5c-.621 0-1.125.504-1.125 1.125m8.625-1.125c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125m-17.25 0h7.5m-7.5 0c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125M12 10.875v-1.5m0 1.5c0 .621-.504 1.125-1.125 1.125M12 10.875c0 .621.504 1.125 1.125 1.125m-2.25 0c.621 0 1.125.504 1.125 1.125M13.125 12h7.5m-7.5 0c-.621 0-1.125.504-1.125 1.125M20.625 12c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125m-17.25 0h7.5M12 14.625v-1.5m0 1.5c0 .621-.504 1.125-1.125 1.125M12 14.625c0 .621.504 1.125 1.125 1.125m-2.25 0c.621 0 1.125.504 1.125 1.125m0 1.5v-1.5m0 0c0-.621.504-1.125 1.125-1.125m0 0h7.5"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2.5" class="w-20 h-20 text-red-600 -ml-10 -mt-5" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"/></svg>
      </div>
    </div>
  </div>



  <div class="container mx-auto px-5">
    <%= render 'public/take_action' %>
  </div>

</div>
