<!DOCTYPE html>
<html>
  <head>
    <title>workyPad</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="dark:bg-gray-900 pb-5">
    <%= render 'shared/header' %>
    <%= render 'shared/flash' if flash.present? %>
    <main class="container mx-auto mt-5 px-4">
      <%= render 'shared/nav' %>
      <%= yield %>
    <%= render 'shared/footer' if signed_in? %>
    </main>

  </body>
</html>
